{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<div class="card text-white bg-dark mb-3 mx-auto mt-5" style="max-width: 36rem;">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="id_username">Username</label>
      <input id="id_username" name="username" type="text" class="form-control">

      <label for="id_password">Password</label>
      <input id="id_password" name="password" type="password" class="form-control">
    
      <input type="submit" value="login" class="btn btn-primary mt-4" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>



{# Assumes you setup the password_reset view in your URLconf #}
<div class="mx-auto " style="max-width: 36rem;">
<p class="mx-auto"><a href="{% url 'password_reset' %}">Lost password?</a></p></div>

{% endblock %}