{% extends "base_bg.html" %}

{% block content %}

<div class="card text-white bg-dark mb-3 mx-auto mt-5" style="max-width: 36rem;">
  <div class="card-header">
    Enter your email
  </div>
  <div class="card-body">
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
      <input type="email" name="email" maxlength="254" id="id_email" class="form-control"> 
      <input type="submit" class="btn btn-primary mt-4" value="Reset password">
    </form>
  </div>
</div>
{% endblock %}