{% extends 'dashboard.html' %}

{% block left_content %}
{%for company in bookmarks %}
<div class="card w-10 bookmark">
    <div class="card-header">
        <a class="bookmark-symbol" href="{% url 'get_quote' company_code='INFY' %}"
            style="text-decoration: none; color: rgb(13, 15, 15); font-size: 1.5rem;" class="card-title">{{company.company_code}}</a>
        <span style="text-align: center;" class="ml-5">price</span>
        <button class="btn btn-primary btn-sm remove-from-cart" style="float: right;">Remove</button>
    </div>

</div>

{%endfor %}



{% endblock %}