{% extends "dashboard.html" %}
{% block right_content %}

<div class="row">
    <div class="col-sm-12 shadow mb-3">
        <h1><u>Current Holding</u> (<u>s</u>)</h1>
    </div>
</div>

<table class="table table-striped">
    <tr class="table-primary">
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Buying Price (Avg)</th>
        <th>Total Price</th>
        <th>Profit</th>
        <th>Date</th>
        <th>Sell</th>
    </tr>
    {% for share in current_shares%}
    {% if share.qty > 0 %}
    <tr>
        <td>{{share.company_name}}</td>
        <td>{{share.qty}}</td>
        <td>{{share.avg_price}}</td>
        <td>{{share.Total}}</td>
        <td>{{share.profit}}</td>
        <td>{{share.date}}</td>
        <td>
            <form action="/sell/{{share.company_code}}/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sell</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}    
</table>
{% endblock %}