{% extends "dashboard.html" %}
{% block right_content %}

<div class="row m-0 p-0">
    <div class="col-sm-12 shadow mb-3">
        <h1><u>Current Holding</u> (<u>s</u>)</h1>
    </div>
</div>

<table class="table table-striped m-0 p-0">
    <tr class="table-primary">
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Buying Price (Avg)</th>
        <th>Current Price</th>
        <th>Total Price</th>
        <th>Profit</th>
        <th>Date</th>
        <th>Sell</th>
    </tr>
    {% for share in current_shares%}
    {% if share.qty > 0 %}
    <tr>
        <td>
            {{share.company_name}} 
            <br>
            (<span id="company-code" class="font-weight-light">{{share.company_code}}</span>)
        </td>
        <td id="qty">{{share.qty}}</td>
        <td>{{share.avg_price}}</td>
        <td id="current-price">Current Price</td>
        <td id="total">{{share.Total}}</td>
        <td id="profit">Profit</td>
        <td>{{share.date}}</td>
        <td>
        
                <!-- Button trigger modal -->
            <button id="sell-button" class="btn btn-block btn-primary btn-danger" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                Sell
            </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Sell Shares</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="form m-1" action="/sell/{{share.company_code}}/" method="POST">
                    {% csrf_token %}
                <div class="modal-body">
                        <div class="form-group">
                                <label for="companyName">Company</label>
                                <input class="form-control disabled" type="text" name="name" value="{{share.company_name}}" readonly>
                            </div>
                    <div class="form-group">
                        <label for="companyName">Symbol</label>
                        <input class="form-control disabled" type="text" name="symbol" value="{{share.company_code}}" readonly>
                    </div>
<!--           
                    <div class="form-group">
                      <label for="companyName">Current price</label>
                      <input id="last-price-form" class="form-control disabled" type="text" name="lastPrice" value="">
                    </div> -->
          
                    <div class="form-group">
                      <label for="qty">Quantity</label>
                      <input class="form-control" type="number" name="qty" min="1" required>
                    </div>
          
                    <div class="form-group">
                        <label for="total">Total</label>
                        <input class="form-control disabled" type="text" name="total" readonly>
                    </div>
          
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <!-- <a href="{% url 'buy' }" class="btn btn-success shining">Confirm</a> -->
                  <!-- {% if form.field.value.total > 100 %} -->
                  <!-- <button type="submit" class="btn btn-primary" disabled>Confirm</button> -->
                  <!-- {% else %} -->
                  <button type="submit" class="btn btn-primary btn-danger">Confirm</button>
                  <!-- {% endif %} -->
        
                </div>
            </form>
              </div>
            </div>
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}    
</table>
<script>
        $('input[name="qty"]').change(()=>{
          let currentPrice = document.querySelector('#current-price').innerText;
          let qtyInput = $('input[name="qty"]').val()
        //   let lastPriceInput = $('input[name="lastPrice"').val()
          let qty = Number(qtyInput)
          let lastPrice = Number(currentPrice)
          let total = qty * lastPrice
          $('input[name="total"]').val(total)
        })
      </script>
{% load static %}
<script src="{% static 'current_holdings.js' %}"></script>
{% endblock %}