{% extends 'base.html' %} 
{% block content %}


<div class="row">
    <div class="col-md-6 border-right">
        <h1 class="display-3">{{ stock_data.companyName }}</h1>
        <p class="display-6">
            <span class="font-weight-light">NSE</span> :
            <span class="font-weight-bold">{{ stock_data.symbol }}</span> |
            <span class="font-weight-light">ISIN</span> :
            <span class="font-weight-bold">{{ stock_data.isinCode }}</span> |
        </p>
    </div>
    <div class="col-md-6 m-auto p-auto" style="background-color: tomato;">
        
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Buy
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ stock_data.companyName }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="companyName">Symbol</label>
                <input class="form-control disabled" type="text" name="symbol" value="{{ stock_data.symbol }}" readonly>
            </div>
  
            <div class="form-group">
              <label for="companyName">Current price</label>
              <input class="form-control disabled" type="text" name="lastPrice" value="{{stock_data.lastPrice}}" readonly>
            </div>
  
            <div class="form-group">
              <label for="qty">Quantity</label>
              <input class="form-control" type="number" name="qty" min="1">
            </div>
  
            <div class="form-group">
                <label for="total">Total</label>
                <input class="form-control disabled" type="text" name="total" readonly>
            </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'buy' }" class="btn btn-success shining">Confirm</a>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

<div class="row" style="background: blue">
    <div class="col-md-4">
        <div class="row" >
            <div class="col-md-4" style="background: red;">
                <p class="display-5 font-weight-bold">NSE <span class="text-warning">LIVE</span></p>
                <p id="current-time"></p>
            </div>
            <div class="col-md-8" style="background: green;">
                <span class="display-3">{{ stock_data.lastPrice }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <div class="display-5">
                    {{ stock_data.change }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="display-5">
                        {{ stock_data.pChange }} %
                </div>
            </div>
            <div class="col-md-4">
                <div class="display-5">
                    Volume : {{ stock_data.totalTradedVolume }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background: greenyellow;">
    <div class="col-md-3 border-right">
        Prev. close {{ stock_data.previousClose }}
    </div>
    <div class="col-md-3 border-right">
        Open Price {{ stock_data.open }}
    </div>
    <div class="col-md-3 border-right">
        Bid Price {{ stock_data.buyPrice1 }}
    </div>
    <div class="col-md-3 border-right">
        offer Price {{ stock_data.sellPrice1}}
    </div>
</div>
<div class="row" style="background: pink;">
        <div class="col-md-3 border-right">
            day Low : {{ stock_data.dayLow }} 
        </div>
        <div class="col-md-3 border-right">
            day High : {{ stock_data.dayHigh }}
        </div>
        <div class="col-md-3 border-right">
            52 week high : {{ stock_data.high52 }}
        </div>
        <div class="col-md-3 border-right">
            52 week low : {{ stock_data.low52 }}
        </div>
    </div>

    <h1 class="text-center">Charts</h1>
    <div class="row">
        <div class="col-sm-12" id="stock-chart"></div>
    </div>

    <script>
        $('input[name="qty"]').change(()=>{
          let qtyInput = $('input[name="qty"]').val()
          let lastPriceInput = $('input[name="lastPrice"').val()
          let qty = Number(qtyInput)
          let lastPrice = Number(lastPriceInput)
          let total = qty * lastPrice
          $('input[name="total"]').val(total)
        })
      </script>
  

{% endblock %}