<nav class="navbar navbar-expand-lg navbar-dark bg-primary mx-0">
    <a class="navbar-brand" href="{% url 'index' %}">Herodha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'bookmarks' %}">Bookmark</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'current_holdings' %}">Holdings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'past_holdings' %}">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'addfunds' %}">Add funds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>

        {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'signup' %}">Register</a>
            </li>
   
        {% endif %}
      </ul>
      
      <form class="form-inline my-2 my-lg-0" action="/search_stocks" method="post">
        {% csrf_token %}
            <input id="search-box" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="stock" autocomplete="off" onkeyup="search()">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <ul class="list-group" id="search-result"></ul>
