{% extends "dashboard.html" %}

{% block right_content %}
<h3 class="display-4">Past Holdings</h3>
<table class="table table-striped">
    <tr class="table-primary past-holding-row">
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th>Profit</th>
        <th>Date</th>
    </tr>

    {% for share in past_shares%}
    <tr>
        <td class="past-holding-data">{{share.company_name}}</td>
        <td class="past-holding-data">{{share.qty}}</td>
        <td class="past-holding-data">{{share.buying_price}}</td>
        <td class="past-holding-data">{{share.selling_price}}</td>
        <td class="past-holding-data">{{share.profit}}</td>
        <td class="past-holding-data">{{share.date}}</td>
    </tr>
    {% endfor %}
</table>
{% load static %}
<script src="{% static 'bookmarks.js' %}"></script>
{% endblock %}