{% extends "dashboard.html" %}

{% block right_content %}
<h3 class="display-4">Past Holdings</h3>
<table class="table table-striped">
    <tr class="table-primary">
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th>Profit</th>
        <th>Date</th>
    </tr>

    {% for share in past_shares%}
    <tr>
        <td>{{share.company_name}}</td>
        <td>{{share.qty}}</td>
        <td>{{share.buying_price}}</td>
        <td>{{share.selling_price}}</td>
        <td>{{share.profit}}</td>
        <td>{{share.date}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}