{% extends "dashboard.html" %}
{% block right_content %}

<div class="row m-0 p-0">
    <div class="col-sm-12">
        <h3><u>Profile</u></h3>
    </div>
</div>
<div class="row m-0 p-0 mb-3">
    <div class="col-sm-2 text-center">
        <img class="img-fluid mx-2" src="https://image.flaticon.com/icons/png/512/17/17004.png" alt="" width="100px">
    </div>
    <div class="col-sm-10 my-auto">
        <span id="username">{{user.username}}</span>
    </div>
</div>

<div class="row m-0 p-0 border-bottom mb-3">
        <div class="col-sm-8">
            <h3 class="display-6"><u>Personal</u></h3>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-sm btn-outline-primary" href="/edit_profile">Edit Profile</a>
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 text-secondary font-weight-light">Email</div>
                <div class="col-sm-6">{{user.email}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 font-weight-light text-secondary">Phone</div>
                <div class="col-sm-6">8989123456</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 font-weight-light text-secondary">PAN</div>
                <div class="col-sm-6">*340G</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 font-weight-light text-secondary">DP IDs</div>
                <div class="col-sm-6">*2345</div>
            </div>             
        </div>
</div>

<div class="row m-0 p-0  mb-3 border-bottom">
    <div class="col-sm-12">
        <h3 class="display-6"><u>Account</u></h3>
    </div>
    <div class="col-sm-12">
        <div class="row m-0 p-0">
            <div class="col-sm-3 font-weight-light text-secondary">Segments</div>
            <div class="col-sm-9">BFO, NFO, CDS, MF, MCX, NSE, BSE</div>
        </div>             
    </div>
    <div class="col-sm-12">
        <div class="row m-0 p-0">
            <div class="col-sm-3 font-weight-light text-secondary">Products</div>
            <div class="col-sm-9">CNC, NRML, MIS, BO, CO</div>
        </div>
         
    </div>
    <div class="col-sm-12">
        <div class="row m-0 p-0">
            <div class="col-sm-3 font-weight-light text-secondary">Order types</div>
            <div class="col-sm-9">MARKET, LIMIT, SL, SL-M</div>
        </div>
         
    </div>
</div>

<div class="row m-0 p-0  mb-3">
        <div class="col-sm-12">
            <h3 class="display-6"><u>Bank Account(s)</u></h3>
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 font-weight-light text-secondary">Account</div>
                <div class="col-sm-6">*9456</div>
            </div>
                 
        </div>
        <div class="col-sm-6">
            <div class="row m-0 p-0">
                <div class="col-sm-6 font-weight-light text-secondary">Bank</div>
                <div class="col-sm-6">Nirav Modi Bank</div>
            </div>
        </div>
    </div>
{% endblock %}